In [108]:
import openpyxl
import pandas as pd
from datetime import date

In [109]:
df1 = pd.read_excel("../Text mining/merged_dataframe.xlsx")

In [110]:
df2 = pd.read_excel("../Text mining/billboard_lyrics.xlsx")

In [111]:
# Merge df1 and df2 on song_name and artist_name, keeping all rows from df1
merged_df = pd.merge(df1, df2, on=['song_name', 'artist_name'], how='left', suffixes=('', '_y'))

In [112]:
# Fill in the missing values in df1 with the corresponding lyrics from merged_df
merged_df['lyrics'].fillna(merged_df['lyrics_y'], inplace=True)

In [113]:
# Drop the lyrics_y column from merged_df
merged_df = merged_df[["song_name", "artist_name", "chart_date", "lyrics"]]

In [114]:
merged_df.to_excel("merged_dataframe.xlsx", index=False)